/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Meyerweb Reset */


*{box-sizing: border-box;}

/* HEADER ELEMENTS */
header {background: #024D05;}

#HeaderLogo {float: left;
			padding: 10px;}

#LogoImg {padding: 10px 5px;}

#topLogoText	{float: right;
				padding: 20px 5px;}
				
.NavLinks {text-decoration: none;
			color: #F8F7EC;
			float: left;
			font-family: 'Roboto Serif', serif;
			font-size: 24px;
			padding: 50px 10px;
			transition: text-decoration 1s;}
			
.NavLinks:hover {
	text-decoration: underline;
}

#HeaderButton {
	float: right;
	transition: background-color 1.5s;
}

#HeaderButton:hover {
	background-color: #FFD640;
} 

.Banner	{
	background-color: #CDC995;
	height: 3.5vw;
	clear: both;
	}

@keyframes bannerFade {
	from{color: rgba(2, 77, 5, 0);
				top: 20px;}
	to{color: rgba(2, 77, 5, 1);
				top: 0px;}
}

.BannerText {
			text-align: center;
			padding-top: 0.6vw;
			animation-name: bannerFade;
			animation-duration: 2s;
			animation-delay: 1s;
			animation-fill-mode: both;
			position: relative;
			font-size: 2.75vw;
			
			}
			
/* HERO SLIDER STYLE */

#HeroSlider {max-width: 1200px;}

/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
}

/* HERO SLIDER ANIMATION */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* HOMEPAGE ANIMATION */

@keyframes imageReveal {
	from {top: 30px;
				opacity: 0;}
	to {top: 0px;
			opacity: 1;}
}

#founderImage {
	animation-name: imageReveal;
	animation-duration: 3s;
	animation-delay: 1s;
	animation-fill-mode: both;
	position: relative;
}

/* PAGE 2 -- Menu & Beer List */
#HeroImage {
	max-width: 1200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 45px;
	width: 100%;
}

#MenuSidebar{
	display: block;
	float: left;
	position: sticky;
	top: 45px;
	height: 675px;
	width: 27%;
	max-width: 350px;
	background-color: #CDC995;
	margin-left: 110px;
}

#FoodMenu {
	margin-left: 30px;
	margin-right: 110px;
	margin-bottom: 45px;
	width: 52%;
	max-width: 800px;
	display: inline-block;
}

.MenuCategories {
	font-family: 'Special Elite', cursive;
	font-size: 54px;
	font-style: normal;
	text-align: center;
}

.MenuSections {
	font-family: 'Special Elite', cursive;
	font-size: 62px;
	font-style: normal;
}

.MenuItems {
	font-size: 28px;
	font-weight: 600;
	font-family: 'Roboto Serif', serif;
	padding-left: 72px;
	padding-bottom: 5px;
	padding-top: 10px;
	line-height: 50px;
}

.MenuDesc {
	font-size: 28px;
	font-weight: 500;
	line-height: 40px;
	padding-left: 72px;
	padding-bottom: 5px;
	
}

.MenuNav {
	color: #000000;
	font-family: 'Roboto Serif', serif;
	font-size: 28px;
	font-weight: 600;
	display: block;
	text-align: center;
	text-decoration: none;
	padding-top: 8px;
	padding-bottom: 8px;
}

#LogoImg2 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* FOOTER IDs & CLASSES */

footer {height: 28vw;
		background: #024D05;
		clear: both;}

#FooterColumns {padding: 0.25% 2%;}

.FooterHeading {
	font-size: 3vw;
}

.FooterParagraph {
	font-size: 1.75vw;
	font-style: normal;
	line-height: 2vw;
}

#Days {
	text-align: left;
	float: left;
}

#Hours {
	text-align: right;
}

/* GENERAL TEXT STYLES (Headings & Paragraphs) */

h1 {color: #F8F7EC;
    font-family: 'Roboto Serif', serif;
    font-style: italic;
		font-weight: 900;
    font-size: 42px;
		padding: 5px;}
    
h2 {color: #024D05;
    font-family: 'Special Elite', cursive;
    font-size: 34px;
	padding: 5px;}
    
h3 {color: #024D05;
    font-family: 'Asap', sans-serif;
	font-style: italic;
	font-weight: 700;
    font-size: 34px;
	padding: 5px;}
	
h4 {color: #024D05;
	font-family: 'Asap', sans-serif;
	font-weight: 600;
	font-size: 30px;
	padding: 5px;}	

p {color: #000000;
	font-family: 'Asap', sans-serif;
	font-weight: 500;
  font-size: 20px;}
	
a {color: #024D05;
	text-decoration: underline;}
	
li {list-style: none;}
	
#typeRules {padding: 20px;}

.DarkGreenBkgd {background-color: #024D05;}
.LightGreenBkgd {background-color: #CDC995;}
.OffWhiteBkgd {background-color: #F8F7EC;}
        
.button1    {background-color: #E0B014;
            font-family: 'Roboto Serif', serif;
            font-size: 22px;
            color: #F8F7EC;
            text-decoration: none;
						cursor: pointer;
            text-align: center;
						text-shadow: 2px 2px #000000;
            box-sizing: border-box;
						padding: 10px;
						margin: 20px;
            width: 280px;
            height: 42px;
            border-radius: 5px;
						box-shadow: 3px 3px #000000;}
			
#AboutUs	{width: 80%;
			margin: 2% 10%;}
	
.TwoColumn	{width: 46%;
			float: left;
			margin: 2%;}
			
.FourColumn {width: 21%;
			float: left;
			margin: 2%;
			text-align: center;}
			
img.ReSize {width: 100%;}

/* MEDIA QUERIES */

/* Tablet */
@media screen and (min-width: 721px) and (max-width: 990px)
{
	
		/* Without telling width to inherit, the About Us section will overflow, putting additional
			padding on the right side and forcing the content off-center. I have no idea why this is happening! */
		
	#AboutUs {width: inherit;
						margin: 5% 10%;}
	
	.TwoColumn {width: inherit;
							text-align: center;
							float: none;}
							
	.FourColumn {width: 46%;}
	
	.BannerText {font-size: 4vw;}
	
	
	
}

/* Mobile */
@media screen and (max-width: 720px)
{
		#AboutUs {width: inherit;
						margin: 5% 10%;}
	
		.TwoColumn {width: inherit;
							text-align: center;
							float: none;}
							
		.FourColumn {width: 50%;
									margin-left: 25%;
									margin-right: 25%;
									float: none;}
									
		.BannerText {font-size: 5vw;}
									
}
				

        
